<ion-popover-view style="height:150px">
  <ion-content>
    <div class="list">
      <a class="item" href="https://github.com/Litterfeldt" style="padding:20px" ng-click="popover.hide()">
        About the developer
      </a>
      <a class="item" href="https://github.com/Litterfeldt/ghostwriter/issues" style="padding:20px" ng-click="popover.hide()">
        Submit an Issue
      </a>
      <a class="item" target="_blank" ng-click="doLogout(); popover.hide()" style="padding:20px">
        Logout
      </a>
    </div>
  </ion-content>
</ion-popover-view>
